body {
    /*font-family: 'Licensed for use at http://www.', sans-serif;*/
    background-color: white;
}

.filter {
    color: darkblue;

}

.filter,
header,
h2 {
    text-transform: uppercase;
}



header {
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    padding: 0em 0em 10em 0em;
    background-color: #06183d
}

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    font-size: 2em;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #fbdd33;
}

header button {
    position: absolute;
    top: 1em;
    left: 1em;
    bottom: 1em;
    background: none;
    color: white;
    border: none;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/UNESCO_logo_white.png/744px-UNESCO_logo_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -666em;
}

h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: black;
    background-image: url(https://www.eurostar.com/static/billboard-promo/oxford-circus-320.jpg);
    background-size: cover;
    background-repeat: no-repeat;


    color: white;
    text-align: center;
    line-height: 5em;
    font-weight: 50;


}
